@mixin divcss{
    width: auto; 
    height: auto;
    float: left;
    background-color:whitesmoke;
     //background-color: rgb(230, 105, 105);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
  }

@mixin title {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: brown;
    font-weight: bold;
    
}
ion-title{
  text-align: left;
  text-decoration: solid;
  color:brown;
}


  .div1{
    @include divcss();
   }
  .div2{
    @include divcss();
  }
  .div3{
    @include divcss();
  }
  .div4{
    @include divcss();
  }
  .div5{
    @include divcss();
  }
  .div6{
    @include divcss();
  }
  .div7{
    @include divcss();
  }
  #id1{
      @include title();
  }
 