<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Monday</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div1"><b>CI-1</b><br><br>Professor:AK<a style="margin-left: 60px;">Time:9-10</a></div>
  <div class="div2"><b>DAA</b><br><br>Professor:PR<a style="margin-left: 55px;">Time:10-11</a></div>
  <div class="div3"><b>LAB</b><a style="margin-left:80px;">Time:11:15-1:15</a><br><br>Batch A: DAA (402-A) <br>Batch B: MP (402-B)<br>Batch C: CI-1 (403)</div>
  <div class="div4"><b>NLP</b><br><br>Professor:RB<a style="margin-left: 70px;">Time:2-3</a></div>
  <div class="div5"><b>STQA</b><br><br>Professor:RB<a style="margin-left: 70px;">Time:3-4</a></div>
  
  
</ion-content>
