<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Timetable</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-item-group>
      <ion-item-divider color="light">MCA-Weekly Timetable</ion-item-divider>
      <ion-item (click)="mondaypage()">Monday</ion-item>
      <ion-item>Tuesday</ion-item>
      <ion-item>Wednesday</ion-item>
      <ion-item>Thursday</ion-item>
      <ion-item>Friday</ion-item>
  </ion-item-group>
  </ion-content>


