<ion-header>
  <ion-toolbar>
    <ion-title>Vision & Mission</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div1">
    Keeping in view the growing and changing needs of Industry and society, we at S.P.I.T. are committed to creating an environment which will raise the intellectual and moral standards of our students. Our endeavor is to strive for the overall development of students, thereby enabling them to accept challenges. In tune with this our vision is
    To build a renowned institute which will produce graduate engineers with global competency and social sensitivity.
   <br><br>
   <b>Our Mission</b><br><br> 

1.Provide high quality education in engineering and technology promoting the Indian Values and Ethos that will prepare the participants to lead lives of personal integrity and civic responsibility in a global society.<br>
2.Promote an Educational Environment that combines academic study with the excitement of intellectual curiosity for engineers of tomorrow.<br>
3.Enhance career opportunities for students through Industry-Institute interaction, value-added courses and projects in cutting edge technology.<br>
4.Inculcate Entrepreneurial mindset in students to make them job creators.<br>
5.Focus on applied research to create next generation technologies.<br>
  </div>

</ion-content>
