.div1{
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color:whitesmoke;
    $fontfamily:Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 10px;
    float: left;
    text-justify: auto;
}
ion-title{
    text-align:left; 
    color: brown; 
    text-decoration: solid;
}