  <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>  
    <ion-title >
      S.P.I.T
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/Entrance.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle><b></b></ion-card-subtitle>
        <ion-card-title>S.P.I.T</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><b>Sardar Patel Institute of Technology</b> is an autonomous un-aided Research and Engineering Institute affiliated to University of Mumbai.It is ranked at 114th position by the National Institutional Ranking Framework, Government of India.</p>
      </ion-card-content>
    </ion-card>

    <ion-content>
      <div class="about" (click)=" aboutpage()">
      <p><b>About Us</b></p>
              
      </div>
      <div class="Instvalue" (click)="instvaluepage()">
        <p><b>Institutional Value</b></p>

      </div>
      <div class="vision" (click)="visionpage()">
        <p><b>Vision and Mission</b></p>

      </div>
</ion-content>
