<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div1"><b>CI-1</b><br><br>Present:14&nbsp;&nbsp;&nbsp;&nbsp;Absent:1<a>Percent:93%</a></div>
  <div class="div1"><b>DAA</b><br><br>Present:12&nbsp;&nbsp;&nbsp;&nbsp;Absent:5<a style="color:darkred">Percent:70%</a></div>
  <div class="div1"><b>UED</b><br><br>Present:16&nbsp;&nbsp;&nbsp;&nbsp;Absent:1<a>Percent:94%</a></div>
  <div class="div1"><b>NLP</b><br><br>Present:15&nbsp;&nbsp;&nbsp;&nbsp;Absent:1<a>Percent:93%</a></div>
  <div class="div1"><b>STQA</b><br><br>Present:14&nbsp;&nbsp;&nbsp;&nbsp;Absent:2<a>Percent:87%</a></div>
  <div class="div1"><b>NLP-TUT</b><br><br>Present:5&nbsp;&nbsp;&nbsp;&nbsp;Absent:0<a>Percent:100%</a></div>
  <div class="div1"><b>UED-TUT</b><br><br>Present:3&nbsp;&nbsp;&nbsp;&nbsp;Absent:1<a>Percent:75%</a></div>
</ion-content>
